HELP.md
### ignore all .class files ###
*.class
*.jar
*.jar.original
### ignore part of the files under target/ ###
### ###
# target/maven-archiver/**
# target/maven-archiver/*
# target/maven-archiver/
# target/maven-status/**
# target/maven-status/*
# target/maven-status/

# target/*.jar

target/
!target/generated-sources/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mvnw
mvnw.cmd
.mvn/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
